<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.quchu.quchu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <!--android:name="co.quchu.quchu.view.activity.PlanetActivity"-->
        <activity
            android:name="co.quchu.quchu.view.activity.UserLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.quchu.quchu.view.activity.PlanetActivity"
            android:label="@string/titlebar_word_planet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar_top" />
        <activity
            android:name="co.quchu.quchu.view.activity.GeneActivity"
            android:label="@string/titlebar_word_gene"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.GeneIntroduceActivity"
            android:label="@string/titlebar_word_gene_introduce"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.FriendsCircleIntroduceActivity"
            android:label="@string/titlebar_word_friends_introduce"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.AtmosphereActivity"
            android:label="@string/titlebar_word_atmosphere"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.DiscoverActivity"
            android:label="@string/titlebar_word_discover"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.QuFriendsActivity"
            android:label="@string/titlebar_word_qu_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.FlickrActivity"
            android:label="@string/titlebar_word_flickr"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.quchu.quchu.view.activity.FeedbackActivity"
            android:label="@string/titlebar_word_feedback"
            android:screenOrientation="portrait" />
        <!-- 我的趣推荐 -->
        <activity
            android:name="co.quchu.quchu.view.activity.RecommendActivity"
            android:screenOrientation="portrait" />
        <!--下拉菜单-->
        <activity
            android:name="co.quchu.quchu.view.activity.MenusActivity"
            android:screenOrientation="portrait" />
        <!--搜索-->
        <activity
            android:name="co.quchu.quchu.view.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 账户设置-->
        <activity
            android:name="co.quchu.quchu.view.activity.AccountSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5655121fe0f55a5ee8008dd5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

    </application>

</manifest>
