<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.quchu.quchu">

    <!-- 腾讯 所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- testing -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.QuFriendsActivity"
            android:label="@string/titlebar_word_qu_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FootPrintActivity"
            android:label="@string/foot_print"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddFootprintActivity"
            android:label="@string/add_foot_print"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.FeedbackActivity"
            android:label="@string/titlebar_word_feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WebViewActivity"
            android:label="@string/webview_redirecting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MessageCenterActivity"
            android:label="@string/titlebar_word_message_center"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PickingQuchuActivity"
            android:label="@string/picking_quchu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AboutUsActivity"
            android:label="@string/titlebar_word_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AccountSettingActivity"
            android:label="@string/titlebar_word_account_setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 趣处详情 -->
        <activity
            android:name=".view.activity.QuchuDetailsActivity"
            android:label="@string/titlebar_word_place_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NearbyActivity"
            android:label="@string/nearby_quchu_all"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UserCenterActivity"
            android:label="@string/titlebar_word_user_center"
            android:screenOrientation="portrait" />
        <!-- 关注的 -->
        <activity
            android:name=".view.activity.FollowingActivity"
            android:screenOrientation="portrait" />
        <!-- 我的趣推荐 -->
        <activity
            android:name=".view.activity.RecommendActivity"
            android:screenOrientation="portrait" />

        <!-- 搜索 -->
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PlaceMapActivity"
            android:label="@string/nearby_quchu"
            android:screenOrientation="portrait" />

        <!-- 用户登录 -->
        <activity
            android:name=".view.activity.UserLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoselected.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoselected.PreviewAlbumImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56abaf9be0f55a4757000e39" />
        <!--
        android:value="5655121fe0f55a5ee8008dd5" />
        debug
        -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104964977" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_DEBUG_KEY}" />
        <!--
        正式版的key"8d635450932036faf3681a8960d884fa"
        />
        -->
        <!-- 地图key_林启鹏debug:b60847e00e5cc92cc6239b4a664cd872 -->


        <!--
            许永斌的SHA1 指纹
            HOME: 66:DC:C2:62:7D:16:73:8E:68:05:34:B7:9A:2C:B2:41:59:E7:71:C9
            COMP: E8:11:A0:B4:A0:9E:0B:64:5D:E8:0A:69:1D:D5:8A:44:E7:C7:70:DC
        -->
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".view.activity.ClassifyDetailActivity"
            android:label="@string/discover_quchu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FindPositionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.MeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.QuchuActivity" />
        <activity
            android:name=".view.activity.BindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MyFootprintActivity"
            android:label="我的脚印" />
        <activity
            android:name=".view.activity.MyFootprintDetailActivity"
            android:label="@string/title_activity_my_footprint_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BindPhotoNumActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.WhatIsActivity" />
        <activity android:name=".view.activity.LoginActivity"></activity>
    </application>

</manifest>